* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.tittle {
  margin: 0 auto;
  text-align: center;
}

.tittle h3 {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 1;
  color: #f04336;
  margin-bottom: 18px;
  margin-top: 200px;
}

.tittle h2 {
  font-family: "Nunito", sans-serif;
  font-size: 42px;
  font-weight: 900;
  line-height: 1.2;
  color: #0a303a;
  margin-top: 0px;
  font-style: normal;
  width: 649px;
  text-align: center;
  margin-left: 320px;
}

.accordion-button:focus {
  z-index: 3;
  border-color: #86b7fe;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-body {
  font-size: 16px;
  color: #676666;
  line-height: 28px;
  font-weight: 400;
}

header {
  background: #F4F1EA;
  width: 90%;
  margin: 0 auto;
  border-radius: 0 0 20px 20px;
  padding: 9px 0;
}

header ul {
  margin-bottom: 0;
}

header ul li {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  color: #0a303a;
  margin-right: 15px;
}

header ul li i {
  margin-right: 7px;
  font-weight: 400;
}

header ul li a {
  color: #0a303a;
  font-size: 12px;
}

nav {
  position: relative;
  width: 100%;
}

nav .nshape {
  position: absolute;
  bottom: -21px;
  left: 0;
  z-index: 1;
}

nav .navbar {
  margin-bottom: -22px;
  margin-top: -43px;
}

nav ul {
  margin-left: 80px;
}

nav ul li {
  position: relative;
}

nav ul li:hover ul {
  opacity: 1;
  height: 120px;
  padding: 18px;
}

nav ul li ul {
  position: absolute;
  z-index: 9;
  background-color: #fff;
  border-radius: 0;
  border: none;
  left: -78px;
  opacity: 0;
  right: 0;
  top: 100%;
  min-width: 230px;
  border: 1px solid #f5f5f5;
  background: #ffffff;
  padding: 0;
  height: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

nav ul li ul li {
  text-transform: capitalize;
  -webkit-transition: .4s;
  transition: .4s;
}

nav ul li ul li .a {
  position: relative;
  padding-left: 0;
  line-height: 40px;
  font-weight: 700;
  color: #1e4b57;
}

nav ul li ul li:hover {
  padding-left: 30px;
}

nav ul li ul li::after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  top: 20px;
  background: #f04336;
  -webkit-transition: .4s;
  transition: .4s;
}

nav ul li ul li:hover::after {
  width: 20px;
}

nav ul li ul li .b {
  color: #1e4b57;
}

nav ul li ul li .ah {
  color: #f04336;
}

nav ul li .nav-link {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1;
  color: #1e4b57 !important;
  text-transform: capitalize;
  padding: 40px 20px !important;
  display: block;
  position: relative;
  z-index: 1;
  -webkit-transition: .4s;
  transition: .4s;
}

nav ul li .nav-link:hover {
  color: #fff !important;
}

nav ul li .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 35px;
  width: 95%;
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  top: 31px;
  margin: 0 auto;
  background: #f04336;
  border-radius: 10px 10px 20px 20px;
  opacity: 0;
  z-index: -1;
}

nav ul li .nav-link:hover::after {
  opacity: 1;
}

nav ul li .ab {
  position: relative;
  color: #fff !important;
}

nav ul li .ab::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 35px;
  width: 95%;
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  top: 31px;
  margin: 0 auto;
  background: #f04336;
  border-radius: 10px 10px 20px 20px;
  opacity: 1;
}

nav .right {
  margin-left: auto;
  z-index: 5;
  position: relative;
}

nav .right::after {
  content: "";
  position: absolute;
  left: -25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2.5px;
  height: 45px;
  background: #edece6;
}

nav .right i {
  margin-right: 25px;
  color: #0a303a;
  font-size: 20px;
}

nav .right a {
  background: #f04336;
  border: medium none;
  border-radius: 3px;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 1;
  padding: 17px 25px;
  text-align: center;
  text-transform: capitalize;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  white-space: nowrap;
  font-family: 'Nunito', sans-serif;
  position: relative;
  overflow: hidden;
}

nav .right a img {
  width: 20px;
  margin-left: 10px;
  height: auto;
  z-index: 1;
}

nav .right a span {
  z-index: 1;
}

nav .right a::after {
  content: "";
  position: absolute;
  top: 56px;
  left: -92px;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  background: #0A303A;
  -webkit-transition: .4s;
  transition: .4s;
}

nav .right a:hover::after {
  top: -10px;
}

.fixedmenu {
  position: fixed !important;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 20;
  -webkit-box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.75);
}

.offcanvas-top {
  height: 100vh;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 47px;
  font-weight: 600;
  line-height: 1.2;
  color: #0a303a;
  margin: 0 0 70px 0;
  letter-spacing: -1px;
  text-align: center;
  margin-top: 15%;
}

form {
  position: relative;
}

form input {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: inherit;
  color: #0a303a;
  width: 100%;
  text-align: center;
  border: none;
  border-bottom: 1px solid #f04336;
  padding: 10px 50px 20px;
  background: transparent;
  outline: none;
}

form i {
  position: absolute;
  right: 20px;
  background: transparent;
  border: 0;
  font-size: 25px;
  color: #f04336;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.btn-close:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

button {
  border: none;
  background: transparent;
  color: #f04336;
  font-size: 30px;
  margin-left: auto;
  margin-right: 80px;
  margin-top: 20px;
}

#banner-part {
  position: relative;
}

#banner-part .img1 {
  position: absolute;
  top: 200px;
  left: 840px;
  z-index: 1;
  -webkit-animation: pa1 .8s infinite alternate;
          animation: pa1 .8s infinite alternate;
}

@-webkit-keyframes pa1 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

@keyframes pa1 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}

#banner-part .img2 {
  position: absolute;
  top: 575px;
  left: 650px;
  z-index: 1;
  width: 20px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  -webkit-animation: pa2 .8s infinite alternate;
          animation: pa2 .8s infinite alternate;
}

@-webkit-keyframes pa2 {
  from {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  to {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes pa2 {
  from {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  to {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

#banner-part .slick-current .h2 {
  -webkit-animation: heading .6s;
          animation: heading .6s;
}

#banner-part .slick-current .p {
  -webkit-animation: para .8s;
          animation: para .8s;
}

#banner-part .slick-current .bt {
  -webkit-animation: btn 1.2s;
          animation: btn 1.2s;
}

#banner-part .banner1 {
  background: url(../images/banner1.jpg) no-repeat center;
  background-size: cover;
  height: 760px;
}

#banner-part .banner1 .banner-text {
  margin-top: 300px;
  width: 40%;
}

#banner-part .banner1 .banner-text .top {
  margin-bottom: 20px;
  overflow: hidden;
  height: 137px;
}

#banner-part .banner1 .banner-text .top h2 {
  font-family: "Nunito", sans-serif;
  font-size: 57px;
  font-weight: 900;
  line-height: 1.2;
  color: #fff;
  text-align: left;
}

#banner-part .banner1 .banner-text .top h2 span {
  position: relative;
  background: url(../images/banner_text_shape.svg);
  z-index: 1;
  background-size: cover;
  background-position: top center;
  padding: 11px 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: .8;
  margin-top: 0;
}

@-webkit-keyframes heading {
  from {
    margin-top: 200px;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes heading {
  from {
    margin-top: 200px;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

#banner-part .banner1 .banner-text .middle {
  margin-bottom: 40px;
  overflow: hidden;
  height: 60px;
}

#banner-part .banner1 .banner-text .middle p {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  margin-bottom: 15px;
  width: 95%;
}

@-webkit-keyframes para {
  from {
    margin-top: 400px;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes para {
  from {
    margin-top: 400px;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

#banner-part .banner1 .banner-text .bottom {
  overflow: hidden;
  position: relative;
  height: 60px;
}

#banner-part .banner1 .banner-text .bottom a {
  background: #f04336;
  border: medium none;
  border-radius: 3px;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 1;
  padding: 17px 25px;
  text-align: center;
  text-transform: capitalize;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  white-space: nowrap;
  font-family: 'Nunito', sans-serif;
  position: relative;
  overflow: hidden;
}

#banner-part .banner1 .banner-text .bottom a img {
  width: 20px;
  margin-left: 10px;
  height: auto;
  z-index: 1;
}

#banner-part .banner1 .banner-text .bottom a span {
  z-index: 1;
}

#banner-part .banner1 .banner-text .bottom a::after {
  content: "";
  position: absolute;
  top: 56px;
  left: -92px;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  background: #0A303A;
  -webkit-transition: .4s;
  transition: .4s;
}

#banner-part .banner1 .banner-text .bottom a:hover::after {
  top: -10px;
}

@-webkit-keyframes btn {
  from {
    margin-top: 600px;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

@keyframes btn {
  from {
    margin-top: 600px;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

#banner-part .banner2 {
  background: url(../images/banner2.jpg) no-repeat center;
  background-size: cover;
  height: 778px;
}

#banner-part .banner2 .banner-text {
  margin-top: 300px;
  width: 40%;
}

#banner-part .banner2 .banner-text .top {
  margin-bottom: 20px;
  overflow: hidden;
  height: 137px;
}

#banner-part .banner2 .banner-text .top h2 {
  font-family: "Nunito", sans-serif;
  font-size: 57px;
  font-weight: 900;
  line-height: 1.2;
  color: #fff;
  text-align: left;
}

#banner-part .banner2 .banner-text .top h2 span {
  position: relative;
  background: url(../images/banner_text_shape.svg);
  z-index: 1;
  background-size: cover;
  background-position: top center;
  padding: 11px 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: .8;
  margin-top: 0;
}

@keyframes heading {
  from {
    margin-top: 200px;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

#banner-part .banner2 .banner-text .middle {
  margin-bottom: 40px;
  overflow: hidden;
  height: 60px;
}

#banner-part .banner2 .banner-text .middle p {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  margin-bottom: 15px;
  width: 95%;
}

@keyframes para {
  from {
    margin-top: 400px;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

#banner-part .banner2 .banner-text .bottom {
  overflow: hidden;
  position: relative;
  height: 60px;
}

#banner-part .banner2 .banner-text .bottom a {
  background: #f04336;
  border: medium none;
  border-radius: 3px;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 1;
  padding: 17px 25px;
  text-align: center;
  text-transform: capitalize;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  white-space: nowrap;
  font-family: 'Nunito', sans-serif;
  position: relative;
  overflow: hidden;
}

#banner-part .banner2 .banner-text .bottom a img {
  width: 20px;
  margin-left: 10px;
  height: auto;
  z-index: 1;
}

#banner-part .banner2 .banner-text .bottom a span {
  z-index: 1;
}

#banner-part .banner2 .banner-text .bottom a::after {
  content: "";
  position: absolute;
  top: 56px;
  left: -92px;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  background: #0A303A;
  -webkit-transition: .4s;
  transition: .4s;
}

#banner-part .banner2 .banner-text .bottom a:hover::after {
  top: -10px;
}

@keyframes btn {
  from {
    margin-top: 600px;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

#findarea-part .item {
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -90px;
  z-index: 5;
}

#findarea-part .item .left {
  width: 20%;
  background: #0A303A;
  color: #fff;
  text-align: center;
  border-radius: 15px 0 0 15px;
  z-index: 5;
}

#findarea-part .item .left i {
  margin-top: 70px;
  font-size: 23px;
  margin-right: 10px;
  line-height: 1;
  display: inline-block;
}

#findarea-part .item .left form {
  display: inline;
}

#findarea-part .item .left form input {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 0;
  color: #fff;
  width: 65%;
  text-align: center;
  border: none;
  border-bottom: none;
  padding: 0;
  background: transparent;
  outline: none;
}

#findarea-part .item .middle {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f04336;
  z-index: 5;
}

#findarea-part .item .middle .one {
  width: 10%;
  background: #f04336;
  position: relative;
}

#findarea-part .item .middle .one::after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: #0A303A;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%, 0% 50%);
          clip-path: polygon(0 0, 100% 50%, 0 100%, 0% 50%);
}

#findarea-part .item .middle .two {
  width: 30%;
  background: #f04336;
  text-align: center;
}

#findarea-part .item .middle .two a {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 0;
  color: #fff;
}

#findarea-part .item .middle .two a i {
  margin-top: 55px;
  margin-right: 10px;
  font-size: 45px;
  color: #fff;
}

#findarea-part .item .middle .three {
  width: 30%;
  background: #f04336;
  text-align: center;
  border-right: 3px solid #e73a2d;
  border-left: 3px solid #e73a2d;
}

#findarea-part .item .middle .three a {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 0;
  color: #fff;
}

#findarea-part .item .middle .three a i {
  margin-top: 55px;
  margin-right: 10px;
  font-size: 45px;
  color: #fff;
}

#findarea-part .item .middle .four {
  width: 30%;
  background: #f04336;
  text-align: center;
  background-image: url(../images/find_shape.png);
}

#findarea-part .item .middle .four a {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 0;
  color: #fff;
}

#findarea-part .item .middle .four a i {
  margin-top: 55px;
  margin-right: 10px;
  font-size: 45px;
  color: #fff;
}

#findarea-part .item .right {
  width: 20%;
  background: #0A303A;
  color: #fff;
  height: 173px;
  border-radius: 0 15px 15px 0;
  z-index: 5;
}

#findarea-part .item .right ul li {
  margin-top: 55px;
}

#findarea-part .item .right ul li .btn {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 0;
  color: #fff;
  border: none;
  background: transparent;
  width: 75%;
}

#findarea-part .item .right ul li .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#findarea-part .item .right ul li ul {
  width: 74%;
  background: #fff;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  color: #212529;
  opacity: 0;
  display: none;
}

#findarea-part .item .right ul li ul li {
  text-align: center;
  color: #525252;
}

#findarea-part .item .right ul li ul li:hover {
  background: #e9ecef;
}

#findarea-part .item .right ul li ul li a {
  color: #525252;
}

#findarea-part .item .right ul li .drop2 {
  opacity: 1;
  display: block;
}

#counter-part {
  background: url(../images/counter_bg.jpg);
  width: 100%;
  margin-top: -100px;
  padding-bottom: 90px;
}

#counter-part .item {
  text-align: center;
  background: #fff;
  padding: 50px 40px;
  border-radius: 15px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 8px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 8px -5px rgba(0, 0, 0, 0.75);
}

#counter-part .item:hover h2 {
  color: #f04336;
}

#counter-part .item h2 {
  margin-bottom: 0;
  font-family: "Nunito", sans-serif;
  font-size: 65px;
  font-weight: 800;
  line-height: 0.8;
  color: #0a303a;
  -webkit-transition: .5s;
  transition: .5s;
}

#counter-part .item h6 {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: #747474;
  text-transform: uppercase;
  margin-bottom: 0;
}

#adoption-part .item h2 {
  font-family: "Nunito", sans-serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 1.2;
  color: #0a303a;
  margin-top: 0px;
  font-style: normal;
  text-transform: inherit;
  margin-bottom: 20px;
  text-align: left;
  width: 480px;
  margin-top: 100px;
}

#adoption-part .item h2 span {
  color: #f04336;
}

#adoption-part .item p {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #676666;
  margin-bottom: 40px;
  width: 432px;
}

#adoption-part .item a {
  background: #f04336;
  border: medium none;
  border-radius: 3px;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 1;
  padding: 17px 25px;
  text-align: center;
  text-transform: capitalize;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  white-space: nowrap;
  font-family: 'Nunito', sans-serif;
  position: relative;
  overflow: hidden;
}

#adoption-part .item a img {
  width: 20px;
  margin-left: 10px;
  height: auto;
  z-index: 1;
}

#adoption-part .item a span {
  z-index: 1;
}

#adoption-part .item a::after {
  content: "";
  position: absolute;
  top: 56px;
  left: -92px;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  background: #0A303A;
  -webkit-transition: .4s;
  transition: .4s;
}

#adoption-part .item a:hover::after {
  top: -10px;
}

#adoption-part .img {
  position: relative;
  margin-top: -50px;
  background: #fff;
}

#adoption-part .img::after {
  background: url(../images/adoption_mask.png);
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  mix-blend-mode: screen;
  width: 100%;
  height: 100%;
}

#adoption-part .img img {
  width: 99%;
}

#breed-part {
  position: relative;
  margin-bottom: 100px;
}

#breed-part .paw {
  width: 28px;
  display: inline-block;
  position: absolute;
  top: 165px;
  left: 49%;
  -webkit-transform: translateX(-50%) rotate(0deg);
          transform: translateX(-50%) rotate(0deg);
  -webkit-animation: paw 1s infinite alternate;
          animation: paw 1s infinite alternate;
}

@-webkit-keyframes paw {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

@keyframes paw {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

#breed-part .tittle .bh {
  margin-bottom: 40px;
}

#breed-part .tittle p {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #676666;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 80px;
}

#breed-part .bottom .breed-slider .item {
  position: relative;
}

#breed-part .bottom .breed-slider .item .shape {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  font-weight: 900;
  line-height: 1;
  color: #f04336;
  position: absolute;
  bottom: 10px;
  left: 45%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url(../images/breed_shape.svg) no-repeat center;
  background-size: cover;
  padding: 14px;
}

#breed-part .bottom .breed-slider .item .shape a {
  color: #f04336 !important;
}

#breed-part .bottom .breed-slider .item .shape2 {
  padding: 11px;
}

#breed-part .bottom .item2 {
  background: url(../images/breed_services_bg.jpg) no-repeat center;
  background-size: cover;
  padding: 53px 50px;
  border-radius: 4px;
  min-height: 100%;
  text-align: left;
}

#breed-part .bottom .item2 h5 {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 1;
  color: #fff;
  margin-bottom: 13px;
  font-size: 18px;
  padding-left: 10px;
  border-left: 3px solid #fff;
  line-height: 1;
  margin-top: 0px;
  font-style: normal;
}

#breed-part .bottom .item2 h4 {
  font-family: "Nunito", sans-serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 1.1;
  color: #fff;
  margin-bottom: 12px;
  margin-top: 0px;
  font-style: normal;
  text-transform: inherit;
}

#breed-part .bottom .item2 p {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
  width: 81%;
  text-align: left;
  margin: 0;
  margin-bottom: 30px;
}

#breed-part .bottom .item2 a {
  background: #fff;
  border: medium none;
  border-radius: 3px;
  color: #f04336;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 1;
  padding: 17px 25px;
  text-align: center;
  text-transform: capitalize;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  white-space: nowrap;
  font-family: 'Nunito', sans-serif;
  position: relative;
  overflow: hidden;
}

#breed-part .bottom .item2 a img {
  width: 20px;
  margin-left: 10px;
  height: auto;
  z-index: 1;
  -webkit-filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
          filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}

#breed-part .bottom .item2 a span {
  z-index: 1;
}

#breed-part .bottom .item2 a::after {
  content: "";
  position: absolute;
  top: 56px;
  left: -92px;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  background: #0A303A;
  -webkit-transition: .4s;
  transition: .4s;
}

#breed-part .bottom .item2 a:hover::after {
  top: -10px;
}

#history-part {
  background: #d5e6eb;
  position: relative;
  padding: 110px 0 110px;
  z-index: 1;
  padding-bottom: 0;
}

#history-part .topshape {
  position: absolute;
  top: 0;
  left: 0;
}

#history-part .bottomshape {
  position: absolute;
  bottom: 273px;
  left: 0;
}

#history-part .headshape {
  position: absolute;
  bottom: 289px;
  right: 138px;
}

#history-part button {
  margin: 0;
}

#history-part .item {
  position: relative;
}

#history-part .item .img2 {
  position: absolute;
  top: 175px;
  left: 35px;
  z-index: -1;
}

#history-part .item a {
  display: inline-block;
  width: 94px;
  height: 94px;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  top: 183px;
  right: 105px;
}

#history-part .item2 {
  margin-top: 20px;
}

#history-part .item2 h4 {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 1;
  color: #f04336;
  margin-bottom: 12px;
  margin-top: 0px;
  font-style: normal;
  text-transform: inherit;
}

#history-part .item2 h2 {
  margin: 0;
  padding-bottom: 10px;
}

#history-part .item2 .h {
  font-family: "Nunito", sans-serif;
  font-size: 45px;
  font-weight: 900;
  line-height: 1.2;
  color: #0a303a;
  margin-bottom: 22px;
  margin-top: 0px;
  font-style: normal;
  text-transform: inherit;
  text-align: left;
}

#history-part .item2 .accordion-item {
  background-color: #fff;
  border: none;
  margin: 20px 0;
  border-radius: 6px;
}

#history-part .item2 .accordion-button {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.4;
  color: #0a303a;
  position: relative;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,border-radius .15s ease,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,border-radius .15s ease,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease,-webkit-box-shadow .15s ease-in-out;
}

#history-part .item2 .accordion-button:not(.collapsed) {
  color: none;
  background-color: transparent;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

#history-part .item2 .accordion-button .accordion-body .strong {
  font-size: 16px;
  color: #676666;
  line-height: 28px;
}

#history-part .item2 .accordion-button .icon {
  position: absolute;
  top: -15px;
  right: 10px;
}

#history-part .item2 .accordion-button .icon::after {
  position: absolute;
  content: "-";
  top: 16px;
  right: 25px;
  width: 40px;
  height: 37px;
  text-align: center;
  line-height: 37px;
  font-size: 30px;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  color: #fff;
  border-radius: 47% 53% 61% 39% / 38% 38% 62% 62%;
  background: #f04336;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

#history-part .item2 .collapsed .icon {
  position: absolute;
  top: -15px;
  right: 10px;
}

#history-part .item2 .collapsed .icon::after {
  position: absolute;
  content: "+";
  top: 16px;
  right: 25px;
  width: 40px;
  height: 37px;
  text-align: center;
  line-height: 37px;
  font-size: 30px;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  color: #f04336;
  border-radius: 47% 53% 61% 39% / 38% 38% 62% 62%;
  background: #d5e6eb;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

#history-part .bottom {
  margin-top: 100px;
  background: black;
  padding: 100px 0;
}

#adoption2-part {
  background: url(../images/adoption_shop_bg.jpg) no-repeat center;
  background-size: cover;
  padding: 100px 0;
  position: relative;
}

#adoption2-part .paw {
  width: 28px;
  display: inline-block;
  position: absolute;
  top: 70px;
  left: 49%;
  -webkit-transform: translateX(-50%) rotate(0deg);
          transform: translateX(-50%) rotate(0deg);
  -webkit-animation: paw 1s infinite alternate;
          animation: paw 1s infinite alternate;
}

@keyframes paw {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

#adoption2-part .tittle .h3 {
  margin-top: 0;
}

#adoption2-part .tittle .bh {
  margin-bottom: 40px;
}

#adoption2-part .tittle p {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #676666;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 80px;
}

#adoption2-part .item {
  margin-top: 50px;
}

#adoption2-part .item .img {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

#adoption2-part .item .img img {
  width: 100%;
}

#adoption2-part .item .img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(244, 241, 234, 0.5);
  border-radius: 4px;
  -webkit-transition: .4s;
  transition: .4s;
  opacity: 0;
}

#adoption2-part .item .img .overlay a {
  background: #f04336;
  border: medium none;
  border-radius: 3px;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 1;
  padding: 17px 25px;
  text-align: center;
  text-transform: capitalize;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-transition: .6s;
  transition: .6s;
  vertical-align: middle;
  white-space: nowrap;
  font-family: 'Nunito', sans-serif;
  position: relative;
  overflow: hidden;
  margin-left: 30%;
  margin-top: 40%;
  opacity: 0;
}

#adoption2-part .item .img .overlay a img {
  width: 20px;
  margin-left: 10px;
  height: auto;
  z-index: 1;
}

#adoption2-part .item .img .overlay a span {
  z-index: 1;
}

#adoption2-part .item .img .overlay a::after {
  content: "";
  position: absolute;
  top: 56px;
  left: -92px;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  background: #0A303A;
  -webkit-transition: .4s;
  transition: .4s;
}

#adoption2-part .item .img .overlay a:hover::after {
  top: -10px;
}

#adoption2-part .item .img:hover .overlay {
  opacity: 1;
}

#adoption2-part .item .img:hover .overlay a {
  opacity: 1;
  margin-top: 50%;
}

#adoption2-part .item .text {
  -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  background: #fff;
  margin: -48px 24px 0;
  padding: 25px 25px 30px;
  position: relative;
  z-index: 1;
}

#adoption2-part .item .text .top h5 {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  font-weight: 900;
  line-height: 1.2;
  color: #f04336;
  text-align: center;
  margin-bottom: 17px;
  margin-top: 0px;
  font-style: normal;
  text-transform: inherit;
  -webkit-transition: .4s;
  transition: .4s;
}

#adoption2-part .item .text .top h5 a {
  color: #f04336;
  -webkit-transition: .4s;
  transition: .4s;
}

#adoption2-part .item .text .top h5 a:hover {
  color: #0a303a;
}

#adoption2-part .item .text .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 15px;
}

#adoption2-part .item .text .middle .left i {
  margin-right: 10px;
  font-size: 13px;
  color: #676666;
}

#adoption2-part .item .text .middle .left a {
  font-family: "Nunito", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 0;
  color: #676666;
  -webkit-transition: .4s;
  transition: .4s;
}

#adoption2-part .item .text .middle .left a:hover {
  color: #f04336;
}

#adoption2-part .item .text .middle .right {
  margin-left: auto;
}

#adoption2-part .item .text .middle .right i {
  margin-right: 10px;
  font-size: 13px;
  color: #676666;
}

#adoption2-part .item .text .middle .right p {
  font-family: "Nunito", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 0;
  color: #676666;
  display: inline-block;
  margin: 0;
}

#adoption2-part .item .text .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#adoption2-part .item .text .bottom .left {
  font-size: 12px;
  color: #f39c10;
  letter-spacing: -.5px;
}

#adoption2-part .item .text .bottom .right {
  margin-left: auto;
}

#adoption2-part .item .text .bottom .right p {
  font-family: "Nunito", sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.5;
  color: #676666;
}

#adoption2-part .item .text .bottom .right p span {
  margin-left: 10px;
}

#testimonial-part {
  position: relative;
  background: url(../images/testimonial_bg.jpg) no-repeat center;
  background-size: cover;
  padding: 100px 0;
}

#testimonial-part .img {
  position: absolute;
  top: 0;
  left: 0;
}

#testimonial-part .paw {
  width: 28px;
  display: inline-block;
  position: absolute;
  top: 70px;
  left: 49%;
  -webkit-transform: translateX(-50%) rotate(0deg);
          transform: translateX(-50%) rotate(0deg);
  -webkit-animation: paw 1s infinite alternate;
          animation: paw 1s infinite alternate;
}

@keyframes paw {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

#testimonial-part .tittle .bh3 {
  margin-top: 0;
}

#testimonial-part .tittle .bh {
  margin-bottom: 40px;
}

#testimonial-part .tittle p {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #676666;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 80px;
}

#testimonial-part .bottom .slick-dots {
  position: absolute;
  bottom: -50px;
  left: 49%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#testimonial-part .bottom .slick-dots li {
  display: inline-block;
}

#testimonial-part .bottom .slick-dots li button {
  width: 23px;
  height: 8px;
  background: #0a303a;
  border-radius: 4px;
  font-size: 0;
  margin: 0 5px;
  text-indent: -99999px;
}

#testimonial-part .bottom .slick-dots .slick-active {
  background: #f04336;
  width: 40px;
  height: 8px;
  border-radius: 4px;
  text-indent: -99999px;
  margin: 0 5px;
  font-size: 0;
}

#testimonial-part .bottom .item {
  background-image: url(../images/testimonial.svg);
  background-repeat: no-repeat;
  padding: 35px 40px 40px 50px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  min-height: 260px;
  background-position: top center;
  background-size: cover;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#testimonial-part .bottom .item i {
  position: absolute;
  bottom: 75px;
  right: 100px;
  font-size: 42px;
  color: #f04336;
  line-height: 1;
}

#testimonial-part .bottom .item .left {
  margin-right: 30px;
}

#testimonial-part .bottom .item .left img {
  border: 7px solid #f4f1ea;
  border-radius: 50%;
}

#testimonial-part .bottom .item .right p {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #676666;
  margin-bottom: 23px;
  width: 80%;
}

#testimonial-part .bottom .item .right h5 {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 1.2;
  color: #0a303a;
  margin-top: 0px;
  font-style: normal;
  text-transform: inherit;
  font-size: 20px;
  margin-bottom: 6px;
}

#testimonial-part .bottom .item .right h5 span {
  font-family: "Nunito", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  color: #676666;
  display: block;
  font-style: normal;
}

#testimonial-part .img2 {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#news-part {
  padding: 100px 0;
  position: relative;
}

#news-part .paw {
  width: 28px;
  display: inline-block;
  position: absolute;
  top: 70px;
  left: 49%;
  -webkit-transform: translateX(-50%) rotate(0deg);
          transform: translateX(-50%) rotate(0deg);
  -webkit-animation: paw 1s infinite alternate;
          animation: paw 1s infinite alternate;
}

@keyframes paw {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
}

#news-part .tittle .bh3 {
  margin-top: 0;
}

#news-part .tittle .bh {
  margin-bottom: 40px;
}

#news-part .tittle p {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #676666;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 80px;
}

#news-part .bottom .item .img {
  margin-bottom: 25px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

#news-part .bottom .item .img img {
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .4s;
  transition: .4s;
}

#news-part .bottom .item .img .shape {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

#news-part .bottom .item .img .shape a {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.5;
  color: #f04336;
  background: url(../images/news_shape.png) no-repeat center;
  background-size: cover;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 138px;
  min-height: 53px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 12px;
  border-radius: 7px;
  margin-left: 5px;
}

#news-part .bottom .item .img .shape a i {
  margin-right: 8px;
}

#news-part .bottom .item .img .shape a:hover {
  color: #0a303a;
}

#news-part .bottom .item .text ul {
  padding-left: 0;
}

#news-part .bottom .item .text ul li {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #838181;
  margin-right: 20px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
}

#news-part .bottom .item .text ul li i {
  margin-right: 5px;
}

#news-part .bottom .item .text ul li a {
  color: #838181;
  -webkit-transition: .4s;
  transition: .4s;
}

#news-part .bottom .item .text ul li a:hover {
  color: #f04336;
}

#news-part .bottom .item .text h5 {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  color: #0a303a;
  margin-bottom: 15px;
  margin-top: 0px;
  font-style: normal;
  text-transform: inherit;
}

#news-part .bottom .item .text h5 a {
  color: #0a303a;
  -webkit-transition: .4s;
  transition: .4s;
}

#news-part .bottom .item .text h5 a:hover {
  color: #f04336;
}

#news-part .bottom .item .text p {
  margin-bottom: 22px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #676666;
}

#news-part .bottom .item .text a {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.5;
  color: #f04336;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#news-part .bottom .item .text a img {
  max-width: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 6px;
}

#news-part .bottom .item:hover .img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#newsletter-part {
  padding-bottom: 110px;
}

#newsletter-part .item {
  background: url(../images/newsletter_bg.jpg) no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1.5px solid #0a303a;
  border-radius: 15px;
  padding: 65px 85px 65px 60px;
  position: relative;
}

#newsletter-part .item .left .h {
  font-family: "Nunito", sans-serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 1.1;
  color: #fff;
  margin-bottom: 8px;
  margin-top: 0px;
  font-style: normal;
  text-transform: inherit;
}

#newsletter-part .item .left p {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: self-end;
      -ms-flex-align: self-end;
          align-items: self-end;
}

#newsletter-part .item .left p span {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 0.6;
  color: #fff;
  margin-right: 8px;
}

#newsletter-part .item .right {
  width: 65.5%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65.5%;
          flex: 0 0 65.5%;
  text-align: left;
  margin-left: auto;
}

#newsletter-part .item .right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#newsletter-part .item .right form input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: none;
  background: #fff;
  -webkit-clip-path: polygon(0 0, 100% 0, 96% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 96% 100%, 0% 100%);
  padding: 21px 30px;
  color: #676666;
  font-size: 14px;
  border-radius: 10px 10px 35px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

#newsletter-part .item .right form .btn {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 1;
  color: #f04336;
  background: #fff;
  min-width: 219px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 21px 30px;
  min-height: 63px;
  -webkit-clip-path: polygon(8% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(8% 0, 100% 0, 100% 100%, 0% 100%);
  border-radius: 35px 10px 10px 10px;
  position: relative;
  overflow: hidden;
  border: none;
  margin-right: 0;
  margin-top: 0;
  letter-spacing: 0;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  z-index: 1;
}

#newsletter-part .item .right form .btn::after {
  content: "";
  position: absolute;
  -webkit-transition-duration: 800ms;
          transition-duration: 800ms;
  width: 200%;
  height: 200%;
  top: 110px;
  left: 50%;
  background: #0a303a;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  z-index: -1;
  -webkit-transition: .4s;
  transition: .4s;
}

#newsletter-part .item .right form .btn:hover::after {
  top: -10px;
}

#newsletter-part .item .shape1 {
  position: absolute;
  top: 30px;
  left: -120px;
}

#newsletter-part .item .shape2 {
  position: absolute;
  top: 0;
  right: -141px;
}

footer {
  background: url(../images/footer_bg.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  padding-top: 105px;
  z-index: 1;
}

footer .shape {
  position: absolute;
  top: 0;
  left: 0;
}

footer .left a img {
  margin-bottom: 25px;
}

footer .left p {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #676666;
  width: 97%;
}

footer .left .contack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .left .contack .icon {
  width: 35px;
  height: 35px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35px;
          flex: 0 0 35px;
  background: #f04336;
  color: #fff;
  text-align: center;
  line-height: 35px;
  font-size: 18px;
  border-radius: 50%;
  margin-right: 13px;
}

footer .left .contack .text a {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-weight: 800;
  line-height: 1;
  color: #0a303a;
  margin-bottom: 4px;
  -webkit-transition: .4s;
  transition: .4s;
}

footer .left .contack .text a:hover {
  color: #f04336;
}

footer .left .contack .text h4 {
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  font-weight: 900;
  line-height: 1.5;
  color: #f04336;
}

footer .left .f-icons a {
  color: #0a303a;
  font-size: 16px;
  margin-right: 15px;
  -webkit-transition: .4s;
  transition: .4s;
}

footer .left .f-icons a:hover {
  color: #f04336;
}

footer .middle1 h4 {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 1;
  color: #0a303a;
  margin-bottom: 25px;
}

footer .middle1 ul {
  padding: 0;
}

footer .middle1 ul li {
  margin-bottom: 3px;
}

footer .middle1 ul li a {
  display: inline-block;
  font-size: 14px;
  -webkit-transition: .4s;
  transition: .4s;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #676666;
  font-style: normal;
}

footer .middle1 ul li a:hover {
  color: #f04336;
  padding-left: 5px;
}

footer .middle2 h4 {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 1;
  color: #0a303a;
  margin-bottom: 25px;
}

footer .middle2 ul {
  padding: 0;
}

footer .middle2 ul li {
  margin-bottom: 3px;
}

footer .middle2 ul li a {
  display: inline-block;
  font-size: 14px;
  -webkit-transition: .4s;
  transition: .4s;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #676666;
  font-style: normal;
}

footer .middle2 ul li a:hover {
  color: #f04336;
  padding-left: 5px;
}

footer .right h4 {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 1;
  color: #0a303a;
  margin-bottom: 25px;
}

footer .right .img ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -7.5px -15px -7.5px;
  padding: 0;
}

footer .right .img ul li {
  padding: 0 7.5px 15px 7.5px;
  width: 33.333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
}

footer .right .img ul li a img {
  max-width: 100%;
  border-radius: 8px;
}

footer .fs1 {
  position: absolute;
  bottom: 44px;
  left: 85px;
}

footer .fs2 {
  position: absolute;
  bottom: 90px;
  right: 86px;
}

footer .copy {
  position: absolute;
  bottom: 74px;
  left: 0;
}

footer .copyrights {
  background: #0a303a;
  padding: 24px 0;
  margin-top: 150px;
}

footer .copyrights .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .copyrights .item .left {
  width: 50%;
}

footer .copyrights .item .left p {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #d5d5d5;
  margin-bottom: 0;
  position: relative;
  padding-left: 15px;
}

footer .copyrights .item .left p::after {
  content: "|";
  position: absolute;
  left: 0;
  top: 46%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #d5d5d5;
  font-size: 14px;
}

footer .copyrights .item .right a {
  color: #f8f8f8;
  font-size: 13px;
}

footer .copyrights .item .right a img {
  max-width: 18px;
  border-radius: 50%;
  margin-right: 6px;
  border: 1px solid #fff;
}
/*# sourceMappingURL=style.css.map */